.info-element {
    position: relative;
}

.info-element:before {
    content: '';
    display: block;
    height: 15px;
    width: 15px;
    border-bottom: 1px solid #636363;
    border-left: 1px solid #636363;
    position: absolute;
    left: -10px;
    bottom: 50%;
}

.info-element span {
    line-height: 50px;
    margin: 0;
}

.info-element span > span {
    border-radius: 5px;
    background-color: #ffd76a;
    padding: 2px;
}

div {
    margin-bottom: 10px;
}

input {
    border-radius: 10px;
    margin: 10px;
    box-shadow: none;
    padding: 3px 10px;
    outline: none;
    width: 20%;
    display: inline-block;
}
